@charset "utf-8";
/*이미지 사이즈 수정*/
img { width: 50%; height: 1%;}
#header { }

.sticky { position : sticky; top : 4px;}
.clearfix:before, .clearfix:after { display: block; content: ''; line-height: 0; }
.clearfix:after { clear:both; }
.listStyle_none{list-style-type: none;}
li {padding: 10px;}