@charset "utf-8";
#header {}
img { width: 50%; height: 1%; }
.sticky { position : sticky; top : 4px;}
.clearfix:before, .clearfix:after { display: block; content: ''; line-height: 0; }
.clearfix:after { clear:both; }
li {padding: 10px;}